@charset "utf-8";

.venda-icon {
	background-image: url(../resources/images/cart_add32.png) !important;
	width: 64px;
	height: 32px;
	top: 20px !important;
}



.ui-selectonemenu {
	vertical-align: middle;
}

